body {
    margin: 0px;
  }

#title {
    font-family: 'verdana', 'sans-serif';
    color:rgb(255, 255, 255);
    font-size: larger;
    display: flex;
    justify-content: left;
    background-image: linear-gradient(to left,rgba(14, 114, 255, 0.857),rgb(87, 62, 255));
    padding: 40px;
    margin: 0px;
    border: 0px;
}

#searchBar {
    font-family: 'verdana', 'sans-serif';
    color:rgb(54, 54, 54);
    padding-top: 65px;
    margin-left: 10px;
}   

#citySearchForm {
    margin-left: 10px;
    width: 40%;
}
  
.weatherData {
    margin-left: 10px;
    font-family: 'verdana', 'sans-serif';
    color:rgb(54, 54, 54);
}

#fiveDay {
    font-family: 'verdana', 'sans-serif';
    color:rgb(54, 54, 54);
    padding-top: 80px;
    float: left;
    margin-left: 10px;
  }

#recentSearch {
    margin-left: 10px;

}

